{%- if props.single  -%}
# Node: {{ props.nodeName }}

{{ props.header }}

import network_branch
from ..houdini_code.sop_nodes_header import *
{%- endif %}
{{ graphs }}
{% if props.single %}
{{ props.footer }}
{% endif %}