{%- macro default(node) -%}
{%- if node.note -%}
"""
Sticky Note:
{{ node.note }}
"""
{% endif %}

{%- if node.comment -%}
{%- endif %}

{%- if node.comment -%}
# comment: {{ node.comment }}
{%- endif %}
{{ node.name }} = {{ node.type }}_Node(
{%- if node.inputs is not none %}
    node_inputs = "{{ node.inputs }}",
{%- endif -%} 
{%- for key, prop in node.properties.items() if prop.changed or prop.user_created %}
    {{ prop.label }} = {{ prop.full_value}}
{%- endfor %}
)
{%- endmacro %}

{% macro attribwrangle(node) %}
def {{ node.name }}_Wrangle_Node():
{%- if node.inputs is not none %}
    node_inputs = "{{ node.inputs }}",
{%- endif -%} 
{%- for key, prop in node.properties.items() if prop.changed or prop.user_created %}
    {%- if key != 'snippet' and key != 'class' %}
    {{ prop.label }} = {{ prop.full_value}}
    {%- endif %}    
{%- endfor %}
    # Key parameters (Run Over)
    run_over = {{ node.properties['class'].full_value }}
    # VEX code block: (VEXpression)
    {{ '"""//cpp' }}
    {{ node.properties['snippet'].actual_value | replace("\r\n", "\n") | indent(4) }}
    """
{% endmacro %}